<nav class="app-header flex justify-space-between align-center">
       <ul class="clean-list flex nav-links">
           <li><a routerLink="/"routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active-nav">About</a></li>
       </ul> 
       <div *ngIf="loggedInUser$ | async;let user;else noUser" class="flex align-center user-info">
        <!-- <p>{{user.name}} bought {{user.items.length}} items</p> -->
        <img src="./assets/imgs/cart.jpg" [routerLink]="['cart']">
        <span class="items-amount">{{user.items.length}}</span>
        <button class="pointer ml-3 logUser" (click)="onLogout()">Logout</button>
      </div>
    
      <ng-template #noUser>
        <button (click)="onLogin()">Login</button>
      </ng-template>
</nav>
