.app-filter {
    width: 20%;
    // display: grid;
    height: 100vh;
    position: fixed;
    background-color: #8b798e29;
    top: 12.3vh;
    .filter-title {
        border-bottom: 1px solid #808080a6;
        margin: 7%;
        text-align: center;
        padding: 10%;
        font-size: larger;
        color: #333333;
        font-family: cursive;
    }
    .inputs {
        display: grid;
        justify-content: center;
        height: 30vh;
        margin: auto;
        .category{
            margin: 0 auto;
            select{
                height: 30px;
                margin-left: 5px;
                width: 80px;
                border: 2px solid gray;
                border-radius: 2px;
                padding-left: 5px;
                &:focus{
                    outline: none;
                }
                option{
                    height: 20px;
                }
            }
        }
        input {
            outline: none;
            font: inherit;
            font-size: 14px;
            color: inherit;
            height: 30px;
            border: 2px solid gray;
            border-radius: 2px;
            padding-left: 3px;
            &:focus{
                outline: none;
            }
        }
        .by-price{
            input{
                width: 65px;
            }
        }
    }
}
