<div class="reviews" *ngIf="isReviewsClicked">
   
    <div class="add-review-btn">
      <button (click)="isFormOpen=true">Add A Review...</button>
    </div>
    <div class="add-review-form" *ngIf="isFormOpen&&loggedInUser$ | async">
        
      <form #form="ngForm" (ngSubmit)="onAddReview(form.value)" autocomplete="off">
        
        <div class="name">
          <input type="text" placeholder="Your name" [(ngModel)]=review.from name="name">
        </div>
        <!-- <div class="rate">
          <select name="rate" [(ngModel)]=review.rate>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div> -->
        <ul class="flex clean-list stars">
      <!-- <li *ngFor="let rate of fullRate"> -->
            <li>
            <img src="./assets/imgs/star.png" (click)="addStar(1)" *ngIf="!isStarClicked&&review.rate<1">
            <img src="./assets/imgs/starY.png" (click)="removeStar(2)" *ngIf="review.rate>=1&&isStarClicked">
            </li>
            <li>
            <img src="./assets/imgs/star.png" (click)="addStar(2)" *ngIf="!isStarClicked&&review.rate<2">
            <img src="./assets/imgs/starY.png" (click)="removeStar(2)"*ngIf="review.rate>=2&&isStarClicked">
            </li>
            <li>
            <img src="./assets/imgs/star.png" (click)="addStar(3)"*ngIf="!isStarClicked&&review.rate<3">
            <img src="./assets/imgs/starY.png" (click)="removeStar(3)" *ngIf="review.rate>=3&&isStarClicked">
            </li>
            <li>
            <img src="./assets/imgs/star.png" (click)="addStar(4)"*ngIf="!isStarClicked&&review.rate<4">
            <img src="./assets/imgs/starY.png" (click)="removeStar(4)"*ngIf="review.rate>=4&&isStarClicked">
            </li>
            <li>
            <img src="./assets/imgs/star.png" (click)="addStar(5)" *ngIf="review.rate<5&&!isStarClicked">
            <img src="./assets/imgs/starY.png" (click)="removeStar(5)" *ngIf="review.rate>=5&&isStarClicked">
            </li>
      <!-- {{"".repeat(5)}} -->
        </ul>

        <!-- <button (click)="onDeleteReview(review.id)">Delete Review</button> -->
<!-- </ul> -->
        <div class="txt">
          <textarea class="text-area" name="txt"  cols="22" rows="10" [(ngModel)]="review.txt" placeholder="Your Review...?"></textarea>
        </div>

        <div align="end" class="submit-btn">
          <button class="save-review">Save</button>
        </div>

    </form>

    </div>
    <ul class="clean-list reviews-list" *ngIf="item.reviews">

        <li class="review" *ngFor="let review of item.reviews">
          <div class="first-info">
            <p><b>At: </b>{{review.createdAt}}</p>
            <p><b>From: </b> {{review.from||'unknown'}}</p>
          </div>

          <ul class="flex clean-list stars">
          <!-- <li *ngFor="let rate of fullRate"> -->
            <p *ngIf="review.rate===null">There is no rate for this item...</p>
            <li>
             <img src="./assets/imgs/starY.png" *ngIf="review.rate>=1">
            </li>
            <li>
             <img src="./assets/imgs/starY.png" *ngIf="review.rate>=2">
            </li>
            <li>
             <img src="./assets/imgs/starY.png" *ngIf="review.rate>=3">
            </li>
            <li>
              <img src="./assets/imgs/starY.png" *ngIf="review.rate>=4">
            </li>
            <li>
              <img src="./assets/imgs/starY.png" *ngIf="review.rate>=5">
            </li>
          </ul>
          <div class="review-context">
            <p>{{review.txt}}</p>
          </div>
          <button (click)="onDeleteReview(review.id)">Delete Review</button>
        
        </li>

     </ul>
      <!-- <p *ngElse>There are no reviews yet...</p> -->
  <!-- </div> -->
     
</div>
