<div class="user-cart" *ngIf="loggedInUser$ | async">
    <div class="top">
        <h1>Your Cart</h1>
        <img src="./assets/imgs/cart.jpg" />
    </div>
    <ul class="clean-list cart-list" *ngIf="cartItems">
        <li class="item-cart" *ngFor="let item of cartItems" [routerLink]="['item',item.id]">

            <div class="img-item">
                <img [src]="item.img" alt="">
            </div>
            <div class="info">
                <p class="item-title">{{item.name}}</p>
                <p class="item-price">{{item.price|currency}}</p>
            </div>

        </li>
    </ul>
    <!-- <ng-template #noItem>
    <div class="not-found">
    <p class="no-items">You Have No Items In Your Cart</p>
    <img src="./assets/imgs/not-found.png" />
</div>
</ng-template> -->
    <div class="not-found" *ngIf="!cartItems.length">
        <p class="no-items">You Have No Items In Your Cart</p>
        <img src="./assets/imgs/not-found.png" />
    </div>
</div>